
<!--extend base template as parent-->
{% extends "django_app/base.html" %}
{% block content %}

<!--this for loop that only the thing that we need into our home template-->
 <!-- {% for post in posts %}
      <h1> {{post.Title}}</h1>
      <p>By {{post.Author}} on {{post.Date_Posted}}</p> 
      <p>{{post.Content}}</p>
    {% endfor %} -->

    <h1>This is our About Page</h1>
{% endblock content %}


<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    if else condition in django
    
    {% if title %}
<title>Django Blog-{{ title }}</title>
{% else %}
<title>Django Blog</title>
{% endif %}


</head>
<body>
    <h1>This is our about page. </h1>
</body>
</html>
-->