<!--extend base template as parent-->
{% extends "django_app/base.html" %}
{% block content %}

<!--this for loop that only the thing that we need into our home template-->
   {% for post in posts %}
   <article class="media content-section">
    
    <!--this code for author related details-->
    <div class="media-body">
      <div class="article-metadata">
        <!--call the image of current author on homepage-->
        <img class = "rounded-circle article-img" src="{{ post.Author.profile.image.url }}">
        <a class="mr-2" href="#">{{ post.Author }}</a>
        <small class="text-muted">{{ post.Date_Posted|date:"F d, Y" }}</small>
      </div>
      <h2><a class="article-title" href="{% url 'post1-detail' post.id %}">{{ post.Title }}</a></h2>
      <p class="article-content">{{ post.Content }}</p>
    </div>
  </article>
  
    {% endfor %}

{% endblock content %}

<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
   <h1>Welcome to Home Page of our first Django Application.</h1>
   
   {% for post in posts %}
   <h1> {{post.Title}}</h1>
   <p>By {{post.Author}} on {{post.Date_Posted}}</p> 
   <p>{{post.Content}}</p>
   {% endfor %}
</body>
</html>
-->