<!--this post is to create a new post form-->
{% extends "django_app/base.html" %}  <!--copy all the content from the users_app.register.html-->
<!--load crispy tag-->
{% load crispy_forms_tags %}
{% block content %}
    
<!--html code for register page-->

<div class="content-section">

    <form method="POST">
     {% csrf_token %}
        <fieldset class="form-group">
           <legend class="border-bottom mb-4"> Blog Post </legend>
           {{ form|crispy }}
           <!--{{ form.as_p }}  --as_p method will set to our text in a pragraph-->
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type = "Submit"> Post </button>
        </div>
    </form>
</div>

{% endblock content %}
