<!--this post is to delete a post form-->
{% extends "django_app/base.html" %}  <!--copy all the content from the django_app.post_form.html-->
{% block content %}
    
<!--html code for register page-->

<div class="content-section">

    <form method="POST">
     {% csrf_token %}
        <fieldset class="form-group">
           <legend class="border-bottom mb-4"> Delete Post </legend>
           <h2>"Are you sure you want to delete the Post {{ object.Title}}"</h2>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type = "Submit"> Yes, Delete </button>
        <a  class="btn btn-outline-secondary" href="{% url 'post1-detail' object.id %}"> Cancel </a>
        </div>
    </form>
</div>

{% endblock content %}
